@media (max-width: 600px) {
  .navbar {
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    border-color: black;
    align-items: center;

    background: linear-gradient(
      360deg,
      rgba(32, 12, 209, 0.333) 1.2%,
      #a626d3 100%
    );
  }
  .toggleBtn {
    width: 40px;
    height: 40px;
  }
  .troll {
    width: 60px;
    height: 60px;
  }
  .inputBoxes {
    padding-top: 50px;
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 20px;
  }
  .inputtext {
    text-align: center;
    border-width: 0.5px;
  }
  .inputtext::placeholder {
    color: #a626d3;
  }

  .deleteicon {
    width: 20px;
    height: 20px;
  }
  .result-box {
    width: 200px;
    height: 190px;
    object-fit: cover;
    margin: 0 auto;
  }
  .generated-result {
    height: 70%;
    width: 70%;
  }

  .grid-container {
    display: grid;
    place-items: center;
  }
  .memeContainer {
    width: 300px;
    height: 300px;
    object-fit: contain;
    padding-top: 5px;
  }
  .allmemes {
    height: 100%;
    width: 100%;
  }
}
.navbar {
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  border-color: black;
  align-items: center;

  background: linear-gradient(
    360deg,
    rgba(32, 12, 209, 0.333) 1.2%,
    #a626d3 100%
  );
}
.toggleBtn {
  width: 40px;
  height: 40px;
}
.troll {
  width: 60px;
  height: 60px;
}
.inputBoxes {
  padding-top: 50px;
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 20px;
}
.inputtext {
  text-align: center;
  border-width: 0.5px;
}
.inputtext::placeholder {
  color: #a626d3;
}

.deleteicon {
  width: 20px;
  height: 20px;
}
.result-box {
  width: 370px;
  height: 360px;
  object-fit: cover;
  margin: 0 auto;
}
.generated-result {
  height: 100%;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.memeContainer {
  width: 300px;
  height: 300px;
  object-fit: contain;
  padding-top: 5px;
}
.allmemes {
  height: 100%;
  width: 100%;
}
